# vim ~/.gitconfig
[alias]
        st = status
        co = checkout
        lgo = log --graph --oneline
        lo = log --oneline
        lg = log --graph
        ci = commit
        br = branch
        sp = stash pop
        ap = add . -p
[user]
        name = Tim Ji
        email = timji@company.com
[core]
        # editor = code --wait
        editor = /usr/bin/vim
